<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Return Seven most relevant songs:</h3>
    <p><b>Enter the song URL and add the song you want to search for at the end of the URL</b></p>
    <p><b>Song URL: https://spotify-app-data.herokuapp.com/songs/</b></p>
    <p>https://spotify-app-data.herokuapp.com/songs/ + <b>the song's name</b></p>
    <br>
    <p><i>example: https://spotify-app-data.herokuapp.com/songs/may we all</i></p>
    <br>
    <p><b>Results:</b></p>
    <p>[{'song_name': 'May We All', 'artist': 'Florida Georgia Line', 'id': '498ZVInMGDkmmNVpSWqHiZ'}, {'song_name': 'May We All - Acoustic', 'artist': 'Florida Georgia Line', 'id': '58zWN3BNikOH7zVP6QGBZp'}, {'song_name': 'May We All', 'artist': 'Florida Georgia Line', 'id': '6RHDliBPKS2TShFp7UIHF0'}, {'song_name': 'May We All - Commentary', 'artist': 'Florida Georgia Line', 'id': '6GIei0QWZjbrNWNwtTpiQL'}, {'song_name': 'May Be', 'artist': 'Crooks UK', 'id': '37KWDhJ3fyBAFVcC0Hutan'}, {'song_name': 'May We All', 'artist': 'Florida Georgia Line', 'id': '0ONccS8Kchy2jgbhF5lg1i'}, {'song_name': 'May We All Someday Meet Again', 'artist': 'The Fureys', 'id': '6Zm5LE6EcJsec8pvua0nt9'}]</p>
    <br>
    <p>This returns the Song Name, Artist, and Song ID for the seven most relant songs</p>
    <br>
    <hr>
    <br>
    <h3>Returns the song features based on song ID:</h3>
    <p><b>Enter the feature URL and add the song ID at the end of the URL</b></p>
    <p><b>Feature URL: https://spotify-app-data.herokuapp.com/features/</b></p>
    <p>https://spotify-app-data.herokuapp.com/features/ + <b>the song's ID</b></p>
    <br>
    <p><i>example: https://spotify-app-data.herokuapp.com/features/498ZVInMGDkmmNVpSWqHiZ</i></p>
    <br>
    <p><b>Results:</b></p>
    <p>{'acousticness': 0.0406, 'danceability': 0.488, 'duration_ms': 226173, 'energy': 0.915, 'instrumentalness': 0, 'key': 7, 'liveness': 0.351, 'loudness': -4.255, 'mode': 1, 'speechiness': 0.0389, 'tempo': 75.019, 'time_signature': 4, 'valence': 0.646, 'popularity': 71}</p>
    <br>
    <p>The returns the song features that are used in our model.</p>
  </body>
</html>
